@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        max-width: 1536px;
        margin: 0 auto;
    }
}

/* Header Area */
header {
    @apply flex justify-between items-center my-8 mx-[30px] py-[14px] px-10 bg-gray2 h-[90px] rounded-[70px];
}

.logo {
    @apply w-[150px] h-[90px] flex justify-center items-center;
}

.navbar {
    @apply flex justify-center items-center h-[60px] rounded-[40px] bg-white2 px-[20px] py-[22px];
}

.navbar ul {
    @apply flex items-center gap-[35px];
}

.navbar ul li {
    @apply text-gray text-base font-normal leading-[120%];
}

.header__btn {
    @apply inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] border border-offwhite bg-white2 text-gray text-base font-normal leading-[120%];
}

/* Hero Area */
.home__area {
    background: url("../assets/images/hero.png"), linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
    @apply flex flex-col-reverse lg:flex-row lg:justify-between rounded-[15px] mx-[30px];
}

.hero__content {
    @apply lg:w-[40%] pt-[30px] pb-[30px] lg:pt-[50px] xl:pt-[90px] pl-[45px] pr-6 lg:pr-0;
}

.hero__subtitle {
    @apply text-black text-base font-normal leading-[120%];
}

.hero__title {
    @apply text-black text-[30px] lg:text-[40px] xl:text-[67px] font-semibold leading-[120%] mt-[15px];
}

.hero__desc {
    @apply text-black text-base font-normal leading-[150%] mt-[25px];
}

.input__group {
    @apply w-[300] lg:w-[360px] xl:w-[440px] relative mt-[24px];
}

.input__group input {
    @apply w-full h-[60px] rounded-[40px] bg-white2 relative pl-[24px];
}

.quote__btn {
    @apply absolute right-0 w-[150px] h-full rounded-[40px] bg-gray text-white2 text-base font-semibold leading-[150%];
}
.hero__image {
    @apply pl-8 lg:w-[50%] lg:h-[100%] xl:w-auto xl:h-auto lg:-mb-12;
}
