@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
}

/* Header Area */
header {
    @apply flex justify-between items-center my-8 mx-[30px] py-[14px] px-10 bg-gray2 h-[90px] rounded-[70px];
}

.logo {
    @apply w-[150px] h-[90px] flex justify-center items-center;
}

.navbar {
    @apply flex justify-center items-center h-[60px] rounded-[40px] bg-white2 px-[20px] py-[22px];
}

.navbar ul {
    @apply flex items-center gap-[35px];
}

.navbar ul li {
    @apply text-gray text-base font-normal leading-[120%];
}

.header__btn {
    @apply inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] border border-offwhite bg-white2 text-gray text-base font-normal leading-[120%];
}

/* Hero Area */
.home__area {
    @apply mx-[30px];
    height: 617px;
    flex-shrink: 0;
    border-radius: 15px;
    background: url("../assets/images/hero.png"), linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
}
